name: Debian otel deb package generator

on: push

permissions:
  contents: write

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  build-debs:
    timeout-minutes: 25
    strategy:
      matrix:
        build:
          - arch: amd64
            runs-on: buildjet-2vcpu-ubuntu-2204
          - arch: arm64
            runs-on: buildjet-2vcpu-ubuntu-2204-arm
        image: ["debian:bookworm-slim", "debian:trixie-slim"]
    runs-on: ${{ matrix.build.runs-on }}
    steps:
      - uses: actions/checkout@v4

      - name: Get Package Details
        id: details
        run: |
          deb_ver=$(dpkg-parsechangelog --show-field Version)
          echo "version=$deb_ver" >> $GITHUB_OUTPUT
          
          image_name="${{ matrix.image }}"
          codename=$(echo "$image_name" | cut -d: -f2 | cut -d- -f1)
          echo "codename=$codename" >> $GITHUB_OUTPUT

      - uses: jtdor/build-deb-action@v1
        id: builder
        env:
          DEB_BUILD_OPTIONS: noautodbgsym
        with:
          buildpackage-opts: -us -uc -b -rfakeroot
          extra-build-deps: ca-certificates
          docker-image: ${{ matrix.image }}

      - name: Rename Artifacts
        run: |
          sudo chown -R $USER debian/artifacts
          cd debian/artifacts
          for file in *.deb; do
            mv "$file" "${file%.deb}_${{ steps.details.outputs.codename }}.deb"
          done

      - uses: actions/upload-artifact@v4
        with:
          name: deb-${{ matrix.build.arch }}-${{ steps.details.outputs.codename }}
          path: ${{ github.workspace }}/debian/artifacts/*.deb
          retention-days: 1

  create-release:
    needs: build-debs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Package Version
        id: version
        run: |
          deb_ver=$(dpkg-parsechangelog --show-field Version)
          echo "version=$deb_ver" >> $GITHUB_OUTPUT
          # Create a tag with package version and arch
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git tag -f -a ${deb_ver} -m "Release ${VERSION}."
          git push origin ${deb_ver}

      - uses: actions/download-artifact@v4
        with:
          pattern: deb-*
          merge-multiple: true
          path: dist

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          name: ${{ steps.version.outputs.version }}
          tag: ${{ steps.version.outputs.version }}
          omitNameDuringUpdate: true
          omitPrereleaseDuringUpdate: true
          allowUpdates: true
